################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MethodInvocationLogger/bin/Release
/MethodInvocationLogger/obj/Release
/MethodInvocationLogger/MethodInvocationLogger.1.21.0.nupkg
*.user
/MethodInvocationLogger/nuget.exe
/MethodInvocationLogger.Castle/bin
/MethodInvocationLogger.Castle/obj
*.nupkg
/MethodInvocationLogger.Castle/nuget.exe
/MethodInvocationLogger.Castle.Tests/bin
/MethodInvocationLogger.Castle.Tests/obj
*.DotSettings
/MethodInvocationLogger.Castle.Tests.InternalsVisible/bin
/MethodInvocationLogger.Castle.Tests.InternalsVisible/obj
/MethodInvocationLogger.Demo/bin
/MethodInvocationLogger.Demo/obj
/MethodInvocationLogger.ElasticSearch/bin
/MethodInvocationLogger.ElasticSearch/obj
/MethodInvocationLogger.Tests/bin
/MethodInvocationLogger.Tests/obj
/packages
*.suo
/.vs/config/applicationhost.config
/MethodInvocationLogger/CreateNuGetPackage.bat
/MethodInvocationLogger.Castle/CreateNuGetPackage.bat
/MethodInvocationLogger/bin/Debug
/MethodInvocationLogger.SampleWriters/bin/Release
/MethodInvocationLogger.SampleWriters/obj/Release
/MethodInvocationLogger/obj/Debug
/MethodInvocationLogger/bin
/MethodInvocationLogger/obj
/MethodInvocationLogger.SampleWriters/bin
/MethodInvocationLogger.SampleWriters/obj
